asgiref
boto3
botocore
certifi
cffi
charset-normalizer
cryptography
dj-database-url
django-anymail
django-cors-headers
django-jazzmin
django-storages
django-ckeditor
djangorestframework~=3.15.2
djangorestframework-simplejwt
drf-yasg
environs~=11.0.0
gunicorn
idna
inflection
jmespath
marshmallow
packaging
psycopg2
pycparser
PyJWT
python-dateutil
python-dotenv
pytz
PyYAML
requests~=2.32.3
s3transfer
shortuuid~=1.0.13
six
sqlparse
stripe~=10.6.0
typing_extensions
tzdata
uritemplate
urllib3

Django~=5.0.7
setuptools~=72.2.0
moviepy~=1.0.3